/* 
Couleur primaire = #FF9C23 orange
Couleur2 = #998852 gris
Couleur3 = #CCB055 creme
Couleur4 = #62F5FF bleu turquoise
Couleur4 = #07CCA1 bleu turquoise foncer

*/

/* reset css */
body, h1, h2, h3, h4, h5, h6, ul{
	margin: 0;
}

body{
	height: 100vh;
}

ul{
	padding: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}


/* header, nav */
/* page accueil (This page define the homepage but his name is "page accueil". ) */
/* header */
.homePosition{
	width: 50%;
	text-align: center;
}

header{
	background-color: #FF9C23;

}

header h1{
	font-size: 60px;
}

.photoCircleHome{
	width: 300px;
	height: 300px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 150px;
	background-color: #CCB055;
}

.skinLiHeaderHome{
	margin-top: 50px;
	font-size: 30px;
}

/* navbar */

nav{
	background-color: #998852;
}

.skinLiNavHome{
	width: 90%;
	font-size: 50px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.skinLiNavHome:hover{
	background-color: #CCB055;
}


/* general class */
/* this class is use to apply the flexbox and the flex-direction property at the body tag. */
.flexHome{
	display: flex;
	flex-direction: row-reverse;
}

/* we use this class to positionate the navbar correctly */
.flexNavHome{
	display: flex;
	flex-direction: column;
	justify-content: center; /* this property is use to center the content  */
	height: 654px; /* we must define the height to apply correctly the justify-content property without definition of heigth the property will not aplly */
}



/* page Competences */
.headCompeteces{
	height: 200px;
}

.headCompeteces h1{
	text-align: center;
	font-size: 80px;
}

.headDescription{
	height: 109px;
}

.headDescription ul{
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}

.competencesNav ul{
	display: flex;
}

.competencesNav ul li{
	padding: 10px 15px;
}

.competencesNav ul li:hover{
	background-color: #CCB055;
}
