@import "./init/variables";
@import "./init/reset";

.jumbotron{
	margin-bottom: 0;	
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
ul.topnav li{
	float: left;
}

/* Style the links inside the list items */
ul.topnav li a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of links on hover */
ul.topnav li a:hover{
	background-color: darken($rightColor, 10%);;
}

section{
	margin: auto;
	
	h2{
		margin: 20px 0;
	}

	article{
		margin: auto;
		margin-bottom: 50px;
		padding: 20px;
		background-color: $sectionColor; /* grey SILVER*/

		h3, p{
			padding: 5px;
		}
	}
}